<!-- Gaytan Glover
9 Jan 2023
Gaytan_Glover_CE01 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Gaytan_Glover_CE02/static/css/styles.css">
    <title>CE02 Story Time</title>
</head>
<body>
    <h1>
        CE02 Story Time
    </h1>
    <p id="madlib">

    </p>
    
    <script type="text/javascript"src="/Gaytan_Glover_CE02/static/js/script.js"></script>
</body>
</html>